<!DOCTYPE html>
<head>
    <!--Let browser know website is optimized for mobile-->
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    
    <!-- Material UI icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title>Login</title>
    @css 'src/templates/users.css'
</head>
<body>
    <div>@include 'header_component.html'</div>
    <h1 class="title">Você está logado</h1>

    <div class="users-table card-panel">
        <table class="highlight striped responsive-table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Password</th>
            </tr>
            </thead>

            <tbody>
                @for user in users
                <tr>
                    <td>${user.id}</td>
                    <td>${user.username}</td>
                    <td>${user.password}</td>
                    <!-- <td>${user.active}</td> -->
                </tr>
                @end
            </tbody>
        </table>
    </div>
</body>
</html>