<nav>
  <div class="nav-wrapper">
    <a href="javascript:window.history.back();" class="left">
      <i class="material-icons">arrow_back_ios_new</i>
    </a>
    <a href="/">
      <img src="src/assets/veasel.png" alt="logo" style="max-height: 100%" />
    </a>
    <ul id="nav-mobile" class="right">
      <li><a href="https://github.com/vlang/v">github</a></li>
      <li><a href="https://vlang.io/">website</a></li>
      <li><a href="https://github.com/sponsors/medvednikov">support</a></li>
    </ul>
  </div>
</nav>
