fns.txt
*.dSYM
*_test
/v
/v2
/vprod
/v.c
/v.*.c
/v.c.out
/cmd/tools/performance_compare
/cmd/tools/oldv
/cmd/tools/vrepl
/cmd/tools/vtest
/cmd/tools/vtest-compiler
/cmd/tools/vtest-fmt
/cmd/tools/vfmt
/cmd/tools/vbin2v
/cmd/tools/vup
/cmd/tools/vpm
/cmd/tools/vcreate
/cmd/tools/vbuild-examples
/cmd/tools/vbuild-tools
/cmd/tools/vbuild-vbinaries
/v_g
/v_cg
/v_prod
/v_prod_cg
/v_prod_g
*.exe
*.o
*.so
.*.c
*.tmp.c
vjs
*.obj
*.exp
*.ilk
*.pdb
*.dll
*.lib

#
# macOS.gitignore
#
# General
.DS_Store

# Thumbnails
._*
.vrepl_temp.v
a.out
vlib/os/bare/bare_example_linux

info.log
.vscode/**

# vim/emacs editor backup files
*~
