*.dSYM
*_test
/v
/vprod
/v.c
/v.*.c
/v.c.out
/v.exe
/tools/performance_compare
/tools/performance_compare.exe
/tools/vrepl
/tools/vrepl.exe
/tools/vtest
/tools/vtest.exe
/tools/vup
/tools/vup.exe
/tools/vpm
/tools/vpm.exe
*.exe
*.o
.*.c
*.tmp.c
vjs
*.obj
*.exp
*.ilk
*.pdb

#
# macOS.gitignore
#
# General
.DS_Store

# Thumbnails
._*
.vrepl_temp.v
a.out
