*.dSYM
*_test
/v
/vprod
/v.c
/v.*.c
/v.c.out
/v.exe
/tools/vget
/tools/vget.exe
/tools/performance_compare
/tools/performance_compare.exe
*.exe
*.o
.*.c
*.tmp.c

*.obj

*.pdb

#
# macOS.gitignore
#
# General
.DS_Store

# Thumbnails
._*
.vrepl_temp.v
