# Binaries for programs and plugins
main
batata
*.exe
*.exe~
*.so
*.dylib
*.dll
*.sql

# Ignore binary output folders
bin/

# Ignore common editor/system specific metadata
.DS_Store
.idea/
.vscode/
*.iml
