
html, body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
}

body {
    max-width: 900px;
    padding: 50px;
    margin: auto;
}

* {
    box-sizing: border-box;
}

/* simple styles reset */
button {
    appearance: none;
    outline: 0;
    border: 0;
    margin: 0;
    padding: 0;
}

input {
    appearance: none;
    outline: 0;
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
}

button {
    font-size: 14px;
    height: 30px;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button.primary {
    background-color: #3b71ca;
    color: white;
}
button.error {
    background-color: red;
    color: white;
}
button.success {
    background-color: green;
    color: white;
}

.form-success {
    color: green;
}

.form-error {
    color: red;
}

h1 {
    text-align: center;
}

section {
    padding: 20px;
}
section.create-todo {
    max-width: fit-content;
    margin: auto;
}

.todo-list {
    display: flex;
    flex-direction: column;
}

.todo {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;
    border-top: 1px solid #d3d3d3;
}

.todo .name {
    flex-grow: 1;
    font-weight: bold;
}

.todo-id, .time {
    font-size: 14px;
    font-weight: normal;
    color: #3d3d3d;
    margin: 0px 10px;
}

/* we're mobile friendly */
@media only screen and (max-width: 900px) {
    body {
        max-width: unset;
    }

    .todo {
        flex-direction: column;
        gap: 5px;
    }
    .todo p {
        margin: 0;
    }

    section.create-todo form {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}