
$mob-max: 1230px;
@mixin mobile {
	@media (max-width: $mob-max) {
		@content;
	}
}
@mixin desktop {
	@media (min-width: $mob-max) {
		@content;
	}
}
body {
	margin:0;
}
* {
	font-family: "Roboto", "Helvetica Neue";
	line-height: 1.5;
}
a {
	text-decoration: none;
	color: #4078C0;
	//
}
pre {
	font-family: "Roboto Mono",  "Courier New", Menlo;
}
.hello_devs {
	margin:0 auto;
	width:500px;
	margin-top:30px;
}
#install {
	float: right;
	position: relative;
	left: 240px;
	display:none;
}
.row {
	display: table;
	width: 100%;
	@include mobile {
		display: block;
	}
}
.col {
}
.center {
	margin: 0 auto;
	max-width: 880px;
}
.menu {
	border-bottom: 1px solid #dfdfdf;
	padding-bottom:10px;
	height: 60px;
	a {
		&:hover{
			color:#333;
		}
		color:#777 ;
		margin-right: 37px;
		line-height: 70px;
		font-size: 22px;
		font-weight:300;
	}
}
.right {
	float: left;
	bottom: 10px;
	width: 200px;
	margin-top: 70px;
	margin-left: 20px;
}
.right a {
	display: block;
	margin-bottom:10px;
}
.right img {
	margin-right: 10px;
	position: relative;
	top: 10px;
}
h1 {
	display: block;
	text-align: center;
	font-weight: 300;
}
h2 {
	//font-size: 16px;
	font-size: 22px;
	font-weight:300;
	margin-top: 40px;
}
.feature {
	width: 440px;
	min-width: 440px;
	max-width: 440px;
	/*float: left;*/
	/*height: 200px;*/
	/*
	border-bottom: 1px solid #dfdfdf;
	border-right: 1px solid #dfdfdf;
	*/
	padding-top: 30px;
	display: table-cell;
	@include mobile {
		display: block;
		width: 100%;
	}
	/*
	display: block;
	width: 100%;
	*/
}
.first {
	padding-right: 70px;
}
.feature img {
	width: 300px;
}
clear {
	clear: both;
}
final {
	margin-bottom: 300px;
}

td {
	width: 120px;
}
.toc { // table of contents 
	float: left;
a {
display: block; 
} 
} 
.docs{
	margin-left:270px;
}
code {
	font-family: 'Roboto Mono';
	background-color: #f0f0f0;
	padding: 1px 3px 1px 3px;
}


