module data

//object: @object
//object_u: @object_u
//objects: @objects
//objects_u: @objects_u

pub struct @object {
pub mut:
	id          int
	name        string
	description string
	tags		[]string
	remarks		[]int
}
