/cli
/hello_world
/hanoi
/json
/links_scraper
/log
/news_fetcher
/rune
/terminal_control
/nbody
/spectral
/database/mysql
/hello_v_js
/fibonacci
/sqlite
/path_tracing
/gg2
*.ppm
empty_gg_freetype
game_of_life/life_gg
random_ips
vweb/vweb_example
x64/hello_world
