/cli
/fibonacci
/fizz_buzz
/hanoi
/hello_v_js
/hello_world
/json
/links_scraper
/log
/nbody
/news_fetcher
/path_tracing
/quick_sort
/random_ips
/rune
/spectral
/tcp_echo_server
/terminal_control

*.ppm
