:root {
    --background-color: #fff;
    --timestamp-color: #b8c2cc;
    --font-color: #000;
    --ref-symbol-color: #dae1e7;
    --ref-symbol-hover-color: #b8c2cc;
    --title-bottom-line-color: #f1f5f8;
    --code-background-color: #edf2f7;
    --code-signature-border-color: #a0aec0;
    --menu-background-color: #4b6c88;
    --menu-font-color: #fff;
    --menu-indent-line-color: #ffffff66;
    --menu-indent-line-active-color: #00000066;
    --menu-scrollbar-color: #a0aec0;
    --menu-toggle-icon-color: #fff;
    --menu-toggle-icon-hover-color: #00000044;
    --toc-font-color: #2779bd;
    --toc-indent-line-color: #dae1e7;
}
:root.dark .dark-icon {
    display: none;
}
:root:not(.dark) .light-icon {
    display: none;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #fff;
    background-color: var(--background-color);
    color: #000;
    color: var(--font-color);
}

.dark body {
    --background-color: #1a202c;
    --timestamp-color: #b8c2cc;
    --font-color: #fff;
    --ref-symbol-color: #2d3748;
    --ref-symbol-hover-color: #4a5568;
    --title-bottom-line-color: #2d3748;
    --code-background-color: #2d3748;
    --code-signature-border-color: #4a5568;
    --menu-background-color: #2d3748;
    --menu-font-color: #fff;
    --menu-indent-line-color: #4a5568;
    --menu-indent-line-active-color: #90cdf4;
    --menu-scrollbar-color: #4a5568;
    --menu-toggle-icon-color: #fff;
    --toc-font-color: #90cdf4;
    --toc-indent-line-color: #1a202c;
}

/** Reset for menus */
.doc-nav ul, .doc-toc ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.doc-nav {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    background-color: #4b6c88;
    background-color: var(--menu-background-color);
    color: #fff;
    color: var(--menu-font-color);
    flex-direction: column;
    overflow-y: auto;
    height: 100vh;
    z-index: 10;
    scrollbar-width: thin;
    scrollbar-color: #a0aec0 transparent;
    scrollbar-color: var(--menu-scrollbar-color) transparent;
}
*::-webkit-scrollbar {
    width: 8px;
}
*::-webkit-scrollbar-track {
    background: transparent;
}
*::-webkit-scrollbar-thumb {
    background-color: #a0aec0;
    background-color: var(--menu-scrollbar-color);
    border: 3px solid transparent;
}
.doc-nav li {
    line-height: 1.8;
    font-weight: 300;
}
.doc-nav .content.show {
    display: flex;
}
.doc-nav .content.hidden {
    display: none;
}
.doc-nav #toggle-menu {
    cursor: pointer;
    padding: 0.3rem;
    fill: #fff;
    fill: var(--menu-toggle-icon-color);
}
.doc-nav #toggle-menu:active {
    background-color: #00000044;
    background-color: var(--menu-toggle-icon-hover-color);
    border-radius: 5rem;
}
.doc-nav > .heading-container {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}
.doc-nav > .heading-container > .heading {
    display: flex;
    background-color: #4b6c88;
    background-color: var(--menu-background-color);
    padding: 0 1.4rem;
    height: 56px;
}
.doc-nav > .heading-container > .heading > .module {
    font-size: 1.6rem;
    font-weight: 500;
    margin: 0;
}
.doc-nav > .heading-container > .heading > .toggle-version-container {
    display: flex;
    align-items: center;
}
.doc-nav > .heading-container > .heading > .toggle-version-container > #dark-mode-toggle {
    cursor: pointer;
    fill: #fff;
    display: flex;
    visibility: hidden;
}
.doc-nav > .heading-container > .heading > .toggle-version-container > #dark-mode-toggle > svg {
    width: 1.2rem;
    height: 1.2rem;
}
.doc-nav > .content {
    padding: 0 1.4rem 1.4rem 1.4rem;
    display: flex;
    flex-direction: column;
}
.doc-nav > .content > ul > li.active {
    font-weight: 600;
}
.doc-nav > .content > ul > li > ul {
    margin: 0.4rem 0;
}
.doc-nav > .content > ul > li > ul > li {
    border-left: #ffffff66;
    border-left: 1.7px solid var(--menu-indent-line-color);
    padding-left: 0.7rem;
}
.doc-nav > .content > ul > li > ul > li.active {
    border-color: #00000066;
    border-color: var(--menu-indent-line-active-color);
}
.doc-nav > .content a {
    color: #fff;
    color: var(--menu-font-color);
    text-decoration: none;
}
.doc-nav > .content a:hover {
    text-decoration: underline;
}

.doc-container {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 56px;
}

.doc-content {
    padding: 1rem 2rem;
    overflow: hidden;
}
.doc-content > .doc-node:not(:last-child) {
    padding: 1rem 0 3rem 0;
}
.doc-content > .timestamp {
    font-size: 0.8rem;
    color: #b8c2cc;
    color: var(--timestamp-color);
}
.doc-content > .doc-node > .title {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    border-bottom: 1px solid #f1f5f8;
    border-bottom: 1px solid var(--title-bottom-line-color);
}
.doc-content > .doc-node > .title > .link {
    margin-left: auto;
    fill: #dae1e7;
    fill: var(--ref-symbol-color);
}
.doc-content > .doc-node > .title > .link:hover {
    fill: var(--ref-symbol-hover-color);
}
.doc-content > .doc-node h1 {
    font-size: 2.5rem;
    font-weight: 400;
}
.doc-content > .doc-node .signature {
    border-left: 3px solid #a0aec0;
    border-left: 3px solid var(--code-signature-border-color);
}
.doc-content > .doc-node > ul > li .task-list-item-checkbox {
    margin-right: 0.5rem;
}
.doc-content pre > code {
    font-family: 'Source Code Pro', monospace;
    font-size: 0.9rem;
    background-color: #edf2f7;
    background-color: var(--code-background-color);
    padding: 1rem;
    display: block;
    border-radius: 0.25rem;
    white-space: pre;
    overflow-x: auto;
}
.doc-content > .doc-node > .title h1,
.doc-content > .doc-node > .title h2,
.doc-content > .doc-node > .title h3,
.doc-content > .doc-node > .title h4,
.doc-content > .doc-node > .title h5,
.doc-content > .doc-node > .title h6 {
    font-weight: 400;
    padding-bottom: 0.8rem;
    margin: 0;
}
.doc-content > .doc-node > .title h1 a,
.doc-content > .doc-node > .title h2 a,
.doc-content > .doc-node > .title h3 a,
.doc-content > .doc-node > .title h4 a,
.doc-content > .doc-node > .title h5 a,
.doc-content > .doc-node > .title h6 a {
    text-decoration: none;
    color: #dae1e7;
    color: var(--ref-symbol-color);
}
.doc-content > .doc-node > .title h1 a:hover,
.doc-content > .doc-node > .title h2 a:hover,
.doc-content > .doc-node > .title h3 a:hover,
.doc-content > .doc-node > .title h4 a:hover,
.doc-content > .doc-node > .title h5 a:hover,
.doc-content > .doc-node > .title h6 a:hover {
    color: var(--ref-symbol-hover-color);
}

.doc-toc {
    right: 0;
    top: 0;
    height: 100%;
    overflow-y: auto;
    padding: 2rem;
    width: 100%;
    box-sizing: border-box;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.doc-toc::-webkit-scrollbar {
    display: none;
}
.doc-toc li {
    line-height: 1.5;
}
.doc-toc a {
    color: #2779bd;
    color: var(--toc-font-color);
    font-size: 0.9rem;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    text-decoration: none;
}
.doc-toc a:hover {
    text-decoration: underline;
}
.doc-toc li ul {
    border-left: 2px solid #dae1e7;
    border-left: 2px solid var(--toc-indent-line-color);
    padding-left: 0.8rem;
    margin: 0.2rem 0 0.2rem;
    font-size: 0.7rem;
    list-style: none;
}
.doc-toc li ul a {
    font-weight: 400;
}

/* Medium screen and up */
@media (min-width: 768px) {
    .doc-container {
        flex-direction: row;
    }

    .doc-content {
        flex: 1;
    }

    .doc-toc {
        padding: 1rem 1rem 0 1rem;
        position: sticky;
        position: -webkit-sticky;
        align-self: flex-start;
        top: 56px;
        height: auto;
        height: 100vh;
        min-width: 200px;
        width: auto;
        max-width: 300px;
    }
    .doc-toc > ul {
        padding-bottom: 1rem;
    }
}

@media (max-width: 1023px) {
    .doc-nav.hidden {
        height: auto;
    }
    .doc-nav > .heading-container > .heading {
        align-items: center;
    }
    .doc-nav > .heading-container > .heading > .toggle-version-container {
        flex-grow: 1;
        padding: 0 1rem;
        justify-content: space-between;
    }
}

@media (min-width: 1024px) {
    .doc-nav {
        width: 300px;
    }
    .doc-nav #toggle-menu {
        display: none;
    }
    .doc-nav > .heading-container > .heading {
        height: 80px;
        flex-direction: column-reverse;
        justify-content: center;
    }
    .doc-nav > .heading-container > .heading > .toggle-version-container {
        align-items: center;
        margin-bottom: 0.2rem;
        display: flex;
        flex-direction: row-reverse;
    }
    .doc-nav > .heading-container > .heading > .toggle-version-container > #dark-mode-toggle {
        margin-right: auto;
    }
    .doc-nav .content.show,
    .doc-nav .content.hidden {
        display: flex;
    }

    .doc-container {
        margin-top: 0;
        margin-left: 300px;
    }

    .doc-toc {
        top: 0;
    }
}
