:root {
    --background-color: white;
    --timestamp-color: #b8c2cc;
    --font-color: black;
    --ref-symbol-color: #dae1e7;
    --ref-symbol-hover-color: #b8c2cc;
    --title-bottom-line-color: #f1f5f8;
    --code-background-color: #edf2f7;
    --code-signature-border-color: #4b6c88;
    --menu-background-color: #4b6c88;
    --menu-font-color: white;
    --menu-indent-line-color: rgba(255, 255, 255, 0.4);
    --menu-scrollbar-color: #a0aec0;
    --menu-toggle-icon-color: white;
    --toc-font-color: #2779bd;
    --toc-indent-line-color: #dae1e7;
    --dark-light-toggle-color: black;
}

html {
    font-family: 'Inter', sans-serif;
}

#dark-mode-switch {
    display: none;
}
#dark-mode-switch:checked ~ #page {
    --background-color: black;
    --timestamp-color: #b8c2cc;
    --font-color: white;
    --ref-symbol-color: #2d3748;
    --ref-symbol-hover-color: #4a5568;
    --title-bottom-line-color: #1a202c;
    --code-background-color: #2d3748;
    --code-signature-border-color: #576279;
    --menu-background-color: #1a202c;
    --menu-font-color: white;
    --menu-indent-line-color: #4a5568;
    --menu-scrollbar-color: #2d3748;
    --menu-toggle-icon-color: white;
    --toc-font-color: #90cdf4;
    --toc-indent-line-color: #1a202c;
    --dark-light-toggle-color: white;
}
#label-dark-mode-switch {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
    margin: 1rem;
    cursor: pointer;
    fill: var(--dark-light-toggle-color);
}

#page {
    background-color: var(--background-color);
    color: var(--font-color);
}

/** Reset for menus */
.doc-nav ul, .doc-toc ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.doc-nav li, .doc-toc li {
    line-height: 1.5;
}

.doc-nav {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    background-color: var(--menu-background-color);
    color: var(--menu-font-color);
    flex-direction: column;
    overflow-y: auto;
    height: 100vh;
    z-index: 10;
    scrollbar-width: thin;
    scrollbar-color: var(--menu-scrollbar-color) transparent;
}
.doc-nav::-webkit-scrollbar {
    width: 8px;
}
.doc-nav::-webkit-scrollbar-track {
    background: transparent;
}
.doc-nav::-webkit-scrollbar-thumb {
    background-color: var(--menu-scrollbar-color);
    border: 3px solid transparent;
}
.doc-nav .content.show {
    display: flex;
}
.doc-nav .content.hidden {
    display: none;
}
.doc-nav #toggle-menu {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--menu-toggle-icon-color);
}
.doc-nav > .heading-container {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}
.doc-nav > .heading-container > .heading {
    display: flex;
    background-color: var(--menu-background-color);
    align-items: center;
    padding: 0 1.4rem;
    height: 56px;
}
.doc-nav > .heading-container > .heading > .module {
    font-size: 1.6rem;
    font-weight: 500;
    margin: 0;
}
.doc-nav > .heading-container > .heading > .version {
    margin-left: 1.2rem;
    margin-right: auto;
}
.doc-nav > .content {
    padding: 0 1.4rem 1.4rem 1.4rem;
    display: flex;
    flex-direction: column;
}
.doc-nav > .content li ul {
    border-left: 1.7px solid var(--menu-indent-line-color);
    padding-left: 0.7rem;
    margin: 0.2rem 0;
}
.doc-nav > .content a {
    color: var(--menu-font-color);
    text-decoration: none;
}
.doc-nav > .content a:hover {
    text-decoration: underline;
}

.doc-container {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 56px;
}

.doc-content {
    padding: 1rem 2rem;
    overflow: hidden;
}
.doc-content > .doc-node:not(:last-child) {
    padding: 1rem 0 3rem 0;
}
.doc-content > .timestamp {
    font-size: 0.8rem;
    color: var(--timestamp-color);
}
.doc-content > .doc-node > .title {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--title-bottom-line-color);
}
.doc-content > .doc-node > .title > .link {
    margin-left: auto;
    fill: var(--ref-symbol-color);
}
.doc-content > .doc-node > .title > .link:hover {
    fill: var(--ref-symbol-hover-color);
}
.doc-content > .doc-node h1 {
    font-size: 2.5rem;
    font-weight: 400;
}
.doc-content > .doc-node .signature {
    border: 1px solid var(--code-signature-border-color);
}
.doc-content pre > code {
    font-family: 'Source Code Pro', monospace;
    font-size: 0.9rem;
    background-color: var(--code-background-color);
    padding: 1rem;
    display: block;
    border-radius: 0.25rem;
    white-space: pre;
    overflow-x: auto;
}
.doc-content > .doc-node > .title h1,
.doc-content > .doc-node > .title h2,
.doc-content > .doc-node > .title h3,
.doc-content > .doc-node > .title h4,
.doc-content > .doc-node > .title h5,
.doc-content > .doc-node > .title h6 {
    font-weight: 400;
    padding-bottom: 0.4rem;
    margin: 0;
}
.doc-content > .doc-node > .title h1 a,
.doc-content > .doc-node > .title h2 a,
.doc-content > .doc-node > .title h3 a,
.doc-content > .doc-node > .title h4 a,
.doc-content > .doc-node > .title h5 a,
.doc-content > .doc-node > .title h6 a {
    text-decoration: none;
    color: var(--ref-symbol-color);
}
.doc-content > .doc-node > .title h1 a:hover,
.doc-content > .doc-node > .title h2 a:hover,
.doc-content > .doc-node > .title h3 a:hover,
.doc-content > .doc-node > .title h4 a:hover,
.doc-content > .doc-node > .title h5 a:hover,
.doc-content > .doc-node > .title h6 a:hover {
    color: var(--ref-symbol-hover-color);
}

.doc-toc {
    right: 0;
    top: 0;
    height: 100%;
    overflow-y: auto;
    padding: 2rem;
    width: 100%;
    box-sizing: border-box;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.doc-toc::-webkit-scrollbar {
    display: none;
}
.doc-toc a {
    color: var(--toc-font-color);
    font-size: 0.9rem;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    text-decoration: none;
}
.doc-toc a:hover {
    text-decoration: underline;
}
.doc-toc li ul {
    border-left: 2px solid var(--toc-indent-line-color);
    padding-left: 0.8rem;
    margin: 0.2rem 0 0.2rem;
    font-size: 0.7rem;
    list-style: none;
}
.doc-toc li ul a {
    font-weight: 400;
}

/* Medium screen and up */
@media (min-width: 768px) {
    .doc-container {
        flex-direction: row;
    }

    .doc-content {
        flex: 1;
    }

    .doc-toc {
        padding: 1rem 1rem 0 1rem;
        position: sticky;
        position: -webkit-sticky;
        align-self: flex-start;
        top: 56px;
        height: auto;
        height: 100vh;
        min-width: 200px;
        width: auto;
        max-width: 300px;
    }
    .doc-toc > ul {
        padding-bottom: 1rem;
    }
}

@media (max-width: 1023px) {
    .doc-nav.hidden {
        height: auto;
    }
}

@media (min-width: 1024px) {
    .doc-nav #toggle-menu {
        display: none;
    }

    .doc-nav {
        width: 300px;
    }

    .doc-nav > .heading-container > .heading > .version {
        margin-left: auto;
        margin-right: 0;
    }

    .doc-nav .content.show,
    .doc-nav .content.hidden {
        display: flex;
    }

    .doc-container {
        margin-top: 0;
        margin-left: 300px;
    }

    .doc-toc {
        top: 0;
    }
}
