:root {
  --code-default-text-color: #5c6e74;
  --code-background-color: #edf2f7;
  --code-keyword-text-color: #2b6cb0;
  --code-builtin-text-color: #0a0a0a;
  --code-function-text-color: #319795;
  --code-comment-text-color: #93a1a1;
  --code-punctuation-text-color: #999999;
  --code-symbol-text-color: #702459;
  --code-operator-text-color: #a67f59;
}

.dark body {
  --code-default-text-color: #cbd5e0;
  --code-background-color: #2d3748;
  --code-builtin-text-color: #68d391;
  --code-keyword-text-color: #63b3ed;
  --code-function-text-color: #4fd1c5;
  --code-comment-text-color: #a0aec0;
  --code-punctuation-text-color: #a0aec0;
  --code-symbol-text-color: #ed64a6;
}

/*
 * General
 */
pre[class*="language-"],
code[class*="language-"] {
  color: #5c6e74;
  color: var(--code-default-text-color);
  font-size: 0.8rem;
  text-shadow: none;
  font-family: 'Source Code Pro', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  background-color: #edf2f7;
  background-color: var(--code-background-color);
  display: block;
  border-radius: 0.25rem;
  overflow-x: auto;
}
pre[class*="language-"] {
  overflow: auto;
  padding: 1rem;
  margin: 0;
}
/*
 * Tokens
 */
.namespace {
  opacity: .7;
}
.token.comment {
  color: #93a1a1;
  color: var(--code-comment-text-color)
}
.token.punctuation {
  color: #999999;
  color: var(--code-punctuation-text-color);
}
.token.number,
.token.symbol {
  color: #702459;
  color: var(--code-symbol-text-color);
}
.token.string,
.token.char,
.token.builtin {
  color: #38a169;
  color: var(--code-builtin-text-color);
}
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #a67f59;
  color: var(--code-operator-text-color);
  background: transparent;
}
.token.boolean,
.token.keyword {
  color: #2b6cb0;
  color: var(--code-keyword-text-color);
}
.token.function {
  color: #319795;
  color: var(--code-function-text-color);
}
