@define "header"
<!DOCTYPE html>
<html>
<head>
  <meta name="description" content="V programming language"> 
  <meta charset="utf-8">

	<link rel="shortcut icon" href="/img/favicon.png">

<link href='//fonts.googleapis.com/css?family=Roboto:400,300,100,200,500,700|Roboto+Mono:400,300,100,200,500' 
 rel='stylesheet' type='text/css'>
<!-- 
<link href="//fonts.googleapis.com/css?family=Roboto|Roboto+Mono" rel="stylesheet"> 
--> 
	<title>V programming language</title> 
	@css "main.css?4"
</head>
<body>

<div class='content'>
@end


@define "footer"

</div>
</body>
</html>


@end 
