@t header


<style>
h2 {
	border-top: 1px solid #dfdfdf;
	padding-top: 10px;
}

comment {
font-family: 'Roboto Mono'; 
color: #777;
}
</style>

<div class='menu'>


<div class='center'> 
<a target=_blank href='https://github.com/vlang-io/V/tree/master/examples'>Examples</a>
<a href='/docs' onclick='return soon()' >Documentation</a>
<a href='/play' onclick='return soon()'>Playground</a>
<a href='/blog' onclick='return soon()'>Blog</a> 
<a href='/#faq'>FAQ</a>
<a href='/#software'>Software built in V</a>
</div> 

</div> 


<div class='center'>
	<h1>
	V programming language
	</h1>
	<div style='font-size:12px; text-align:center; position: relative; top:-10px;'>

	Fast, safe, compiled language created for developing <a target=_blank href='https://volt.ws'>Volt</a>,
	soon available for everyone.
	<br><br>
	Open source release in mid 2019.</div>

<div id='install'>
    Install V from source in 0.5 seconds
	<pre>wget vlang.io/v.c && gcc -o v v.c</pre>
	<!--
	or if you already have V
	<pre>wget https://vlang.io/v.v && v v.v</pre>
	-->
	</div>

</div> 

<div class='center'>

<h2>Compilation speed benchmark</h2> 

<table> 
<tr><td>C<td style='width:300px'><code>gcc test.c</code><td>5.2s 
<tr><td>C++<td><code>g++ test.cpp</code><td>1m 25s 
<tr><td>Zig<td><code>zig build-exe test.zig</code><td>10.1s 
<tr><td>Nim<td><code>nim c test.nim</code><td>45s 
<tr><td>Rust<td><code>rustc test.rs</code><td style='width:300px'>Stopped after 30 minutes 
<tr><td>Swift<td><code>swiftc test.swift</code><td>Stopped after 30 minutes 
<tr><td>V<td><code>v test.v</code><td>0.6s 
</table> 

<p> 
I developed a small program that generates 400 000 lines of code in several languages to benchmark their 
compilation speed. 

<p> 
You can read the code of the generator <a target=_blank href='https://github.com/vlang-io/V/blob/master/website/compilation_speed_test_gen.v'>here</a>.  

<p> 
It's a bit silly, all it does is generate the following statement 200 000 times:
<pre>a = 1 
println(a) 

a = 2 
println(a) 
... 
</pre> 

<p> 
I'm aware that in no way does this code represent real  code, but it can give a general picture,
and all compilers face the same challenge. 
If you have a better idea how to generate code for benchmarking, please let me know, I'll update it. 


<p> 
Rust and Swift took too long to compile 400k lines, so I tried smaller numbers, and was surprised to find
out that compilation speed is not linear:

<table>
<tr><td># lines<td>Rust<td>Swift 
<tr><td>2k<td>3.4s <td>0.8s 
<tr><td>4k<td>9.0s <td>1.0s 
<tr><td>8k<td>30.8s  <td>2.3s 
<tr><td>20k<td>3m 52s <td>11.8s 
<tr><td>100k<td>- <td>5m 57s 
</table> 




 


 




</div> 

	</body>

</html>
@t footer
