@t header


<style>
h2 {
	border-top: 1px solid #dfdfdf;
	padding-top: 10px;
}
pre {
font-size:80%; 
} 

comment {
font-family: 'Roboto Mono'; 
color: #777;
}
</style>

<div class='menu'>


<div class='center'> 
<a target=_blank href='https://github.com/vlang-io/V/tree/master/examples'>Examples</a>
<a href='/docs' onclick='return soon()' >Documentation</a>
<a href='/play' onclick='return soon()'>Playground</a>
<a href='/blog' onclick='return soon()'>Blog</a> 
<a href='/#faq'>FAQ</a>
<a href='/#software'>Software built in V</a>
</div> 

</div> 


<div class='center'>
	<h1>
	V programming language
	</h1>
	<div style='font-size:12px; text-align:center; position: relative; top:-10px;'>

	Fast, safe, compiled language created for developing <a target=_blank href='https://volt.ws'>Volt</a>,
	soon available for everyone.
	<br><br>
	Open source release in mid 2019.</div>

<div id='install'>
    Install V from source in 0.5 seconds
	<pre>wget vlang.io/v.c && gcc -o v v.c</pre>
	<!--
	or if you already have V
	<pre>wget https://vlang.io/v.v && v v.v</pre>
	-->
	</div>

</div> 

<div class='center'>

<h2>Comparison of V and other languages</h2> 

<h3>Go</h3> 

<p> 
V is very similar to Go, and these are the things it improves upon: 

<p> 
- No global state <br> 

<p> 
- Only one declaration style (<code>a := 0</code>)

<p> 
- No null

<p> 
- No undefined values

<p> 
- No <code>err != nil</code> checks (replaced by option types)

<p> 
- Immutability by default

<p> 
- Much stricter vfmt

<p> 
- No runtime

<p>
- Much smaller binaries 

<p> 
- Zero cost C interop 

<p>
- No GC 

<p>
- Fearless concurrency (no data race guarantee at compilation) 

<p>
- Generics 

<p> 
- Cheaper interfaces without dynamic dispatch 


<p> 
<br> 
<h3> Rust</h3> 

Rust has a very different philosophy.<!-- It's a very powerful language with a growing set of features.  --> 

<p> 
It is a complex language with a growing set of features and a steep learning curve. No doubt, once you learn and understand the language,
it becomes a very powerful tool for developing safe, fast, and stable software. But the complexity is 
still there. 


<p>V's goal is to allow building maintainable and predictable software.   That's why the language
is so simple and maybe even boring for some. The good thing is, you can jump into any part of the project 
and understand what's going on, feel like it was you who wrote it, because the language is simple and
 there's only one way of doing things. 

<p> 
Rust's compilation speed is slow, on par with C++.  V compiles 1.5 million lines of code per cpu per second. 
</p> 



<br> 
<h3>V vs Rust vs Go: example</h3> 
<p> 

Since V's domain is close to both Go and Rust, I decided to use a simple example to compare the three. 

<p>

I came across a developer 
<a target=_blank href='https://github.com/hyperium/hyper/issues/777'>playing</a> with Rust and Go. 
They wrote a simple concurrent program that
fetches top Hacker News stories concurrently. 

<p> 
After getting help from both communities, this is their final code: 
</p> 

<b>Rust</b> 

<pre>extern crate hyper;
extern crate rustc_serialize;

use std::thread;
use std::io::Read;
use std::ops::DerefMut;
use std::sync::Mutex;
use std::sync::MutexGuard;
use std::sync::LockResult;
use std::sync::Arc;

use hyper::Client;
use hyper::header::Connection;
use rustc_serialize::json;

#[derive(RustcDecodable, RustcEncodable)]
struct Story {
    by: String,
    id: i32,
    score: i32,
    time: i32,
    title: String,
}

fn next(cursor: &mut Arc&lt;Mutex&lt;usize>>) -> usize {
    let result: LockResult&lt;MutexGuard&lt;usize>> = cursor.lock();
    let mut guard: MutexGuard&lt;usize> = result.unwrap();
    let mut temp = guard.deref_mut();
    *temp = *temp+1;
    return *temp;
}

fn main() {
    let client = Arc::new(Client::new());
    let url = "https://hacker-news.firebaseio.com/v0/topstories.json";
    let mut res = client.get(url).header(Connection::close()).send().unwrap();
    let mut body = String::new();
    res.read_to_string(&mut body).unwrap();
    let vec: Vec&lt;i32> = json::decode(body.as_str()).unwrap();
    let lock: Arc&lt;Mutex&lt;usize>> = Arc::new(Mutex::new(0));

    let mut handles: Vec&lt;thread::JoinHandle&lt;()>> = Vec::new();
    for _ in 0..8 {
        let client2 = client.clone();
        let mut lock2 = lock.clone();
        let vec2 = vec.clone();
        handles.push(thread::spawn(move|| {
            loop {
                let cursor = next(&mut lock2);

                if cursor >= vec2.len() {
                    break;
                }

                let url = format!(
                    "https://hacker-news.firebaseio.com/v0/item/{}.json",
                    vec2[cursor],
                );

                let mut res = client2.get(url.as_str())
                    .header(Connection::close())
                    .send()
                    .unwrap();

                let mut body = String::new();
                res.read_to_string(&mut body).unwrap();
                let story: Story = json::decode(body.as_str()).unwrap();
                println!("{}", story.title);
            };
        }));
    }

    for handle in handles.into_iter() {
        handle.join().unwrap();
    }
}
</pre> 

<b>Go</b> 

<pre>
package main

import (
	"encoding/json"
	"fmt"
	"io/ioutil"
	"net/http"
	"sync"
)

type Story struct {
	Title string
}

func main() {
	rsp, err := http.Get("https://hacker-news.firebaseio.com/v0/topstories.json")
	if err != nil {
		panic(err)
	}
	defer rsp.Body.Close()

	data, err := ioutil.ReadAll(rsp.Body)
	if err != nil {
		panic(err)
	}

	var ids []int
	if err := json.Unmarshal(data, &ids); err != nil {
		panic(err)
	}

	var cursor int
	var mutex sync.Mutex

	next := func() int {
		mutex.Lock()
		defer mutex.Unlock()
		temp := cursor
		cursor++
		return temp
	}

	wg := sync.WaitGroup{}
	for i := 0; i < 8; i++ {
		wg.Add(1)
		go func() {
			for cursor := next(); cursor < len(ids); cursor = next() {
				url := fmt.Sprintf(
					"https://hacker-news.firebaseio.com/v0/item/&percnt;d.json",
					ids[cursor],
				)
				rsp, err := http.Get(url)
				if err != nil {
					panic(err)
				}
				defer rsp.Body.Close()

				data, err := ioutil.ReadAll(rsp.Body)
				if err != nil {
					panic(err)
				}
				var story Story
				if err := json.Unmarshal(data, &story); err != nil {
					panic(err)
				}
				fmt.Println(story.Title)
			}
			wg.Done()
		}()
	}

	wg.Wait()
}
</pre> 
 
<b>V</b>  <br> 


<pre>
import http
import json
import runtime

struct Story {
        title string
}

fn main() {
        resp := http.get('https://hacker-news.firebaseio.com/v0/topstories.json')? 
        ids := json.decode([]int, resp.body)?  // ? propagates the error 
        mut cursor := 0
        for _ in 0..8 { 
                go fn() {
                        for cursor < ids.len {
                                lock { // Without this lock block the program will not compile
                                        id := ids[cursor]
                                        cursor++
                                }
                                url := 'https://hacker-news.firebaseio.com/v0/item/$id.json'
                                resp := http.get(url)? 
                                story := json.decode(Story, resp.body)? 
                                println(story.title)
                        }
                }()
        }
        runtime.wait() // Waits for all coroutines to finish
} 
</pre> 
 


<br> 
<br> 
More languages coming soon... 





</div> 
</div>

	</body>

</html>
@t footer
