name: CI Windows MSVC

on:
  push:
    paths-ignore:
      - '**.md'
      - '**.yml'
      - '!**.bat'
      - '!**/windows_ci_msvc.yml'
      - 'cmd/tools/**'
      - '!cmd/tools/builders/**.v'
  pull_request:
    paths-ignore:
      - '**.md'
      - '**.yml'
      - '!**.bat'
      - '!**/windows_ci_msvc.yml'
      - '!**/windows-install-sqlite.bat'
      - 'cmd/tools/**'
      - '!cmd/tools/builders/**.v'

concurrency:
  group: windows-${{ github.workflow }}-${{ github.ref == 'refs/heads/master' && github.sha || github.ref }}
  cancel-in-progress: true

jobs:
  msvc-windows:
    runs-on: windows-2025
    timeout-minutes: 60
    env:
      VFLAGS: -cc msvc -g
      VTEST_SHOW_LONGEST_BY_RUNTIME: 3
      VTEST_SHOW_LONGEST_BY_COMPTIME: 3
      VTEST_SHOW_LONGEST_BY_TOTALTIME: 3
    steps:
      - uses: actions/checkout@v6
      - name: Build
        run: |
          echo %VFLAGS%
          echo $VFLAGS
          .\make.bat -msvc
          .\v.exe symlink
      - name: Build V with WX
        run: v -cflags /WX self
      - name: All code is formatted
        run: v -silent test-cleancode
      - name: Test -cc msvc works
        run: v -no-retry-compilation run examples/hello_world.v
      - name: Install dependencies
        run: |
          v retry -- v setup-freetype
          .\.github\workflows\windows-install-sqlite.bat
      - name: v doctor
        run: |
          v doctor
      - name: Verify `v test` works
        run: |
          echo $VFLAGS
          v cmd/tools/test_if_v_test_system_works.v
          ./cmd/tools/test_if_v_test_system_works
      - name: Test pure V math module
        run: v -silent -exclude @vlib/math/*.c.v test vlib/math/
      - name: Self tests
        run: v -silent test-self vlib
      - name: Test v->js
        run: v -o hi.js examples/js_hello_world.v && node hi.js
      - name: Test v binaries
        run: v build-vbinaries
      - name: Build examples
        run: v build-examples
      - name: v2 self compilation
        run: v -o v2.exe cmd/v && .\v2.exe -o v3.exe cmd/v
